<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthadvisor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthAdvisor">
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".FpActivity" />
        <activity
            android:name=".PhysicianActivity"
            android:label="@string/title_activity_physician" />
        <activity android:name=".MessageActivity" />
        <activity
            android:name=".MotherActivity"
            android:label="@string/title_activity_mother" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>